.MYLOGO {
    align-items: center;
    justify-content: center;
    display: flex;

}
.container{
    background-color: aqua;
width: 100%;
height: auto;
display: flex;
align-items: center;
justify-content: center;
}
Main Menu section CSS code. Copy the code and paste in style.cssstyle.css
/********** Main Menu CSS Starts **********/  
nav {
     width: 100%;
     float: left;
     background: #ff5722;
     padding:15px 0px;
}
 nav a {
     color: #fff;
     text-decoration:dotted;
     font-size: 17px;
     border-right: 1px solid #ffc3c3;
     padding:20px 20px;
}
    
.slider img {
    width:100%;
}
.event {
    width: 31%;
    margin-right: 1%;
    float: right;
}
.event div {
    padding:10px;
    background-color: #d8dde8;
}
.event ul li {
    margin-bottom: 20px;
    width: 100%;
    float:left;
}
 
.about-us img {
    width:24%;
    float:left;
}
.about-us div {
    width:70%;
    margin: right 50px;
    float:left;
    line-height:35px;
    margin-left: 50px;

}
